@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


.centered {
  background-color: transparent;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%,0%);
  display: block;
  padding: 10px;
  padding-block: 10px;
  height: inherit;
  overflow: auto;
}

div {
  color: green;
}

.conversation {
  background: white;
  width: 100%;
  height: 300px;
  display: block;
  overflow: auto;
}


.conversation-text {
  padding: 10px;
  display: block;
  background-clip: padding-box;
  box-shadow: inset 0 0 10px #074ccc;
}

.input-box {
  background-clip: padding-box;
  box-shadow: inset 0 0 10px #ff0000;
  width: 100%;
}
